/* header */

#header {
    height: 60px;
    background: linear-gradient(
      90deg,
      #2d388a 3.6%,
      #00aeef 99.99%,
      #2d748a 100%
    );
  }
  
  .navbar .nav-item {
    margin-right: 15px;
  }

  .navbar Link{
    text-decoration: none;
  }
  
  .navbar .nav-link p {
    font-weight: 200;
    font-size: 20px;
    color: #b0e6fa;
    margin: 0;
  }
  
  .navbar .nav-link p:hover {
    font-weight: 400;
    color: antiquewhite;
  }
  
  .navbar .underline {
    background-color: white;
    height: 5px;
  }
  
  .navbar .account img {
    height: 40px;
  }
  
  /* end - header */